PNCP_BASE_URL=https://pncp.gov.br/api/consulta
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DATABASE=pncp_db
MONGO_COLLECTION=contratacoes
GEMINI_API_KEY=sua_chave_aqui